<link rel="import" href="supportClasses/ItemRenderer.html">

<element name="fx-list" constructor="List" attributes="dataProvider">

    <script>
        Polymer.register(this, {

            _dataProvider: null,
            get dataProvider() {
                return this._dataProvider;
            },
            set dataProvider(value) {
                this._dataProvider = value;
            },

            _selectedIndex: null,
            get selectedIndex() {
                return this._selectedIndex;
            },
            set selectedIndex(value) {
                this.selectedIndices = value == null || value === undefined ? null : [value];
            },

            _selectedItem: null,
            get selectedItem() {
                return this._selectedItem;
            },
            set selectedItem(value) {
                this.selectedIndex = value == null || value === undefined ?
                        null : this.dataProvider.getItemIndex(value);
            },

            _selectedIndices: [],
            get selectedIndices() {
                return this._selectedIndices;
            },
            set selectedIndices(value) {
                this._selectedIndices = value || [];
                this.commitSelection();
            },

            _selectedItems: null,
            get selectedItems() {
                return this._selectedItems;
            },
            set selectedItems(value) {
                if (this._selectedItems !== value)
                    this.selectedIndices = value ? value.map(this.dataProvider.getItemIndex, this.dataProvider) : null;
            },

            handleItemMouseDown: function (event, b, itemRenderer) {
                var clickedIndex = this.dataProvider.getItemIndex(itemRenderer.data);

                if (event.ctrlKey) this.modifySelection(clickedIndex);
                else this.selectedIndex = clickedIndex;
            },

            modifySelection: function (index) {
                var indexPosition = this.selectedIndices.indexOf(index);

                if (indexPosition == -1) this.selectedIndices.push(index);
                else this.selectedIndices.splice(indexPosition, 1);

                this.commitSelection();
            },

            commitSelection: function () {
                var numIndices = this.selectedIndices ? this.selectedIndices.length : 0;

                this._selectedIndex = numIndices ? this.selectedIndices[numIndices - 1] : null;
                this._selectedItem = this.selectedIndex == null ?
                        null : this.dataProvider.getItemAt(this.selectedIndex);
                this._selectedItems = this.selectedIndices ?
                        this.selectedIndices.map(this.dataProvider.getItemAt, this.dataProvider) : null;

                this.updateSelectedRenderers();
            },

            updateSelectedRenderers: function () {
                var i = 0;
                var renderer = this.$.rendererTemplate;

                while (renderer = renderer.nextElementSibling) {
                    renderer.selected = this.selectedIndices.indexOf(i++) != -1;
                }
            }
        });
    </script>

    <template>
        <style>
            ul {
                margin: 0;
                padding: 0;
                background-color: #ffffff;
                border: #000000 solid 1px;
            }
        </style>

        <ul id="list">
            <template id="rendererTemplate" repeat="{{dataProvider.items}}">
                <fx-item-renderer id="renderer" data="{{}}" on-mousedown="handleItemMouseDown"></fx-item-renderer>
            </template>
        </ul>
    </template>

</element>
