<script src="../events/FlexEvent.js"></script>
<link rel="import" href="../events/FlexEvent.js">

<element name="fx-text-input" constructor="TextInput" attributes="prompt autofocus">

    <script>
        Polymer.register(this, {

            get text() {
                return this.$.input.value;
            },
            set text(value) {
                this.$.input.value = value;
            },

            get prompt() {
                return this.$.input.placeholder;
            },
            set prompt(value) {
                this.$.input.placeholder = value;
            },

            get autofocus() {
                return this.$.input.autofocus;
            },
            set autofocus(value) {
                this.$.input.autofocus = value;
            },

            ready: function () {
                this.$.input.addEventListener('keypress', this.handleKeyPress.bind(this));
            },

            handleKeyPress: function (event) {
                if (event.keyCode === 13)
                    this.dispatchEvent(new CustomEvent(FlexEvent.ENTER));
            }

        });
    </script>

    <template>
        <input id="input"/>
    </template>

</element>
