<script src="../events/FlexEvent.js"></script>

<element name="fx-text-input" constructor="TextInput" attributes="prompt autofocus">

    <script>
        Polymer.register(this, {

            get text() {
                return this.$.input.value;
            },
            set text(value) {
                this.$.input.value = value;
            },

            get prompt() {
                return this.$.input.placeholder;
            },
            set prompt(value) {
                this.$.input.placeholder = value;
            },

            get autofocus() {
                return this.$.input.autofocus;
            },
            set autofocus(value) {
                this.$.input.autofocus = value;
            },

            ready: function () {
                this.$.input.addEventListener('keypress', this.handleKeyPress.bind(this));
            },

            handleKeyPress: function (event) {
                if (event.keyCode === 13) this.fire(FlexEvent.ENTER);
            }

        });
    </script>

    <template>
        <style>
            input {
                width: 100%;
                margin: 0;
                padding: 3px 5px;
                overflow: hidden;
                border: #000000 solid 1px;
                display: block;
                box-sizing: border-box;
            }
        </style>

        <input id="input"/>
    </template>

</element>
